In [2]:
import pandas as pd
data_url = "c:\data\child_population.xlsx"
data = pd.read_excel(data_url)
data

c:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,통계표명:,총인구중 아동(0~17세) 인구 구성비,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,단위:,"명, %",NaN,NaN,NaN,NaN
1,NaN,2019,2020,2021,2022,2023
2,총 인구수,"51,849,861","51,829,023","51,638,109","51,439,038","51,325,329"
3,아동 인구수,"7,928,907","7,710,946","7,483,944","7,271,460","7,077,206"
4,비율(구성비),15,15,15,14,14
5,출처:,주민등록인구통계,NaN,NaN,NaN,NaN

In [10]:
population = data.iloc[2:4, :]
population

,통계표명:,총인구중 아동(0~17세) 인구 구성비,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
2,총 인구수,"51,849,861","51,829,023","51,638,109","51,439,038","51,325,329"
3,아동 인구수,"7,928,907","7,710,946","7,483,944","7,271,460","7,077,206"

In [14]:
listTmp = list(population.columns)
listTmp[0] = '구분'
listTmp[1] = '2019'
listTmp[2] = '2020'
listTmp[3] = '2021'
listTmp[4] = '2022'
listTmp[5] = '2023'
population.columns = listTmp
population

       구분        2019        2020        2021        2022        2023
2   총 인구수  51,849,861  51,829,023  51,638,109  51,439,038  51,325,329
3  아동 인구수   7,928,907   7,710,946   7,483,944   7,271,460   7,077,206

In [15]:
population = population.set_index('구분')
population

              2019        2020        2021        2022        2023
구분
총 인구수   51,849,861  51,829,023  51,638,109  51,439,038  51,325,329
아동 인구수   7,928,907   7,710,946   7,483,944   7,271,460   7,077,206

In [17]:
population = population.T
population

구분         총 인구수     아동 인구수
2019  51,849,861  7,928,907
2020  51,829,023  7,710,946
2021  51,638,109  7,483,944
2022  51,439,038  7,271,460
2023  51,325,329  7,077,206